
GitApp2/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs

GitApp2/obj/Debug/net6.0/GitApp2.AssemblyInfo.cs

GitApp2/obj/Debug/net6.0/GitApp2.AssemblyInfoInputs.cache

GitApp2/obj/Debug/net6.0/GitApp2.assets.cache

GitApp2/obj/Debug/net6.0/GitApp2.csproj.AssemblyReference.cache

GitApp2/obj/Debug/net6.0/GitApp2.GeneratedMSBuildEditorConfig.editorconfig

GitApp2/obj/Debug/net6.0/GitApp2.GlobalUsings.g.cs
